@use "../utils/utils_all" as *;

html {
  font-size: 16px;
}

body {
  background-color: $subColor;
  color: $mainColor;
  position: relative;
  font-family: "Noto Sans JP", "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
